<h3>Help</h3>
<p>Only <strong>XLSX</strong> files are allowed</p>
<p>Please make sure, the date folows the format <strong>DD-MM-YY</strong></p>
<p>Please make sure, <strong>sheet-name</strong> is <strong>Projects_Ongoing</strong> or <strong>Projects_Completed</strong></p>
<p>Please make sure, the <strong>first line of the excel file</strong> has the <strong>headers</strong>
<p>Please make sure, <strong>sheet-name</strong> is <strong>Projects_Ongoing</strong></p>
<div>
    <img style="height: 75%; width: 100%" src="assets/img/{{data.name}}">   
</div>
